*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right, #2fece9, #2f85ec);
  font-family: "Teko", sans-serif;
  min-height: 100vh;
  padding: 50px 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-self: center;
}
.main-bloc {
  background-color: rgb(239, 239, 239);
  margin-top: 40vh;
  padding-bottom: 4vh;
  position: relative;
  transform: translateY(-50%);
  justify-content: center;
  text-align: center;
  height: fit-content;
  width: 60vw;
  border-radius: 8px;
  border: solid 1px rgba(0, 0, 0, 0.409);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.292);
}
.main-bloc h1 {
  padding: 25px 25px;
  letter-spacing: 2px;
  font-size: 3em;
  background-color: rgb(239, 239, 239);
}
span {
  color: #1f7cf5b1;
}
.input_group {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(239, 239, 239);
}
.input_first {
  display: flex;
  flex-direction: column;
}
.input_second {
  display: flex;
  flex-direction: column;
}
input {
  font-family: "Teko", sans-serif;
  margin: 15px 15px;
  font-size: 1.6em;
  padding: 8px 20px;
  width: 23vw;
  border-radius: 6px;
  border: none;
  border-bottom: 1px solid #000;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.292);
}
label {
  font-size: 1.5em;
}
button {
  font-family: "Teko", sans-serif;
  font-size: 1.6em;
  letter-spacing: 1px;
  font-weight: bold;
  background-color: rgba(51, 255, 0, 0.63);
  padding: 8px 20px;
  margin: 35px 15px;
  border-radius: 6px;
  text-align: center;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: rgba(0, 255, 85, 0.893);
}
.info {
  font-size: 1.6em;
  letter-spacing: 1px;
  text-align: center;
}
.value {
  font-size: 2.5em;
}
@media (max-width: 800px) {
  .input_group {
    flex-direction: column;
    text-align: center;
  }
  input {
    text-align: center;
    align-self: center;
    font-size: 1em;
    width: auto;
  }
  .main-bloc h1 {
    letter-spacing: none;
    font-size: 2em;
  }
  .info {
    font-size: 1.3em;
    letter-spacing: 0px;
  }
  button {
    font-size: 1.2em;
    padding: 4px 10px;
  }
}
@media (max-width: 400px) {
  .input_group {
    flex-direction: column;
    text-align: center;
  }
  input {
    text-align: center;
    align-self: center;
    font-size: 0.7em;
    width: auto;
    margin: auto;
  }
  .main-bloc h1 {
    letter-spacing: none;
    font-size: 2em;
  }
  .info {
    font-size: 1em;
    letter-spacing: 0px;
  }
  button {
    font-size: 1em;
    padding: 2px 6px;
  }
  label {
    font-size: 1.1em;
    margin-top: 2vh;
  }
}
